.layout {
    .container {
        position: fixed;
        top: 0;
        bottom: 50px;
        width: 100%;
        background-color: rgb(245, 245, 245);
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}