.month-bill {
    --fontSize: 16px;
    padding: 0 10px;
    .title {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 10px;
    }

    .top {
        height: 150px;
        background: linear-gradient(rgb(255, 189, 67), rgb(252, 217, 174));
        border-radius: 10px;
        padding: 0 30px;
        font-size: var(--fontSize);

        .date {
            display: flex;
            gap: 5px;
            align-items: center;
            padding:  20px 0;
        }
        .detail{
            display: flex;
            gap: 3rem;
        }
    }
}