.daily-bill-info {
  margin: 20px 0;
  padding: 0 20px;
  background-color: white;
  border-radius: 6px;

  >div {
    line-height: 40px;
  }

  .daily-item {

    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .daily-title {
      display: flex;
      justify-content: space-between;
    }

    .daily-detail {
      display: flex;
      justify-content: space-between;

      .pay span {
        color: red;
      }
    }
  }

  .daily-detail-list {
    // display: none;
    padding-top: 10px;
    border-top: 1px solid #ddd;

    .item {
      display: flex;
      justify-content: space-between;

      span {
        color: red;
      }
    }
  }
}